<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">       
        <title>4 images un mot</title>
    </head>

    <body onload="loadPage()">
        <!-- Pictures Panel pre-Compiled -->    
        <script id="picturesPanel" type="text/x-handlebars-template">
            <div class="container">
                <table>
                    <tr> 
                        <td align="center"><img src={{img1}}></td>
                        <td><i class="glyphicon glyphicon-asterisk"></i></td>
                        <td align="center"><img src={{img2}}></td>
                        <td><i class="glyphicon glyphicon-asterisk"></i></td>
                        <td align="center"><img src={{img3}}></td>
                        <td><i class="glyphicon glyphicon-asterisk"></i></td>
                        <td align="center"><img src={{img4}}></td>
                    </tr>
                </table>
            </div>
        </script>
        <!-- Game Menu -->
        <div id="gameMenu" class="modal-dialog" data-bind="visible:menuVisible" hidden><br>
            <div class="modal-content">
                <div class="modal-header">              
                    <h2 class="text-center">Sélectionnez votre niveau:</h2>
                </div>
                <div class="modal-body" align="center">
                    <br>
                    <button onClick="selectLevel('1')" class='btn btn-primary btn-lg'>Débutant (A1)</button>
                    <button onClick="selectLevel('2')" class='btn btn-primary btn-lg'>Intermédiaire (A2)</button>
                    <button onClick="selectLevel('3')" class='btn btn-primary btn-lg'>Autonome (B1)</button>
                    <hr>
                </div>
            </div>
        </div>        
        <!-- Game Body -->
        <div id="gameBody" data-bind="visible: gameVisible" hidden>
            <!-- Navigation Bar -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-form navbar-center">
                        <a class="navbar-brand" href="#">Quatre images...un mot!</a>
                    </div>
                    <!-- Control Buttons Section -->
                    <div id="controlButtons" class="navbar-form navbar-right">
                        <div>
                            <button id="hintButt" onClick="showHint()" class="btn btn-success" align="right" title="Vous avez besoin d'aide?">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button> 
                            <button id="coinsButt" onClick="coinsWindow()" class="btn btn-warning" title="Comment fonctionne le système de récompenses?">
                                <i class="glyphicon glyphicon-piggy-bank"></i></button>           
                            <button id="menuButt" onClick="showMenu()" class="btn btn-danger" title="Retour à l'accueil">
                                <i class="glyphicon glyphicon-home"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Pictures Panel + Inputs(text-boxes) -->
            <div id="textInputs">
                <!-- Coins/Score Indicator -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="http://res.cloudinary.com/azurlingua/image/upload/c_scale,h_30,w_30/v1427477171/games/4images1mot/coin.png"/> x <strong id="coinsScore"></strong>
                    </div>
                </div>
                <!-- Pictures Panel Render -->
                <div id="render1" align="center"></div>                           
                <!-- Inputs(text-boxes) Render -->
                <div class="container" align="center">
                    <table>
                        <tr> 
                            <br><div id="render2"></div><br>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Keyboard -->
            <div id="keyboard" class="container" align="center">
                <div class="jumbotron">
                    <table class="table table-striped table-hover">
                        <tr>
                           <td><button id="11" onClick="writeLetter('11')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="12" onClick="writeLetter('12')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="13" onClick="writeLetter('13')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="14" onClick="writeLetter('14')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="15" onClick="writeLetter('15')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="16" onClick="writeLetter('16')" class='btn btn-primary btn-lg'></button></td>
                       </tr>
                       <tr>
                           <td><button id="17" onClick="writeLetter('17')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="18" onClick="writeLetter('18')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="19" onClick="writeLetter('19')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="20" onClick="writeLetter('20')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="21" onClick="writeLetter('21')" class='btn btn-primary btn-lg'></button></td>
                           <td><button id="22" onClick="writeLetter('22')" class='btn btn-primary btn-lg'></button></td>
                       </tr>
                   </table>
               </div>
           </div>
        </div>
        <!-- Game Footer -->
        <div id="gameFooter" align="center">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Bonjour du Monde!</p>
                    </div>
                </div>
            </footer>
        </div>


    <!-- Scripts section -->
    <!-- Jquery -->        
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='js/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='js/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='js/jquery.fileupload.js' type='text/javascript'></script>
    <script src='js/jquery.cloudinary.js' type='text/javascript'></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Handlebarjs -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js" type="text/javascript"></script>
    <!-- Knockout -->
    <script type='text/javascript' src='js/knockout-3.3.0.js'></script>         
    <!-- Cloudinary -->
    <script>
        $.cloudinary.config({cloud_name: 'azurlingua', api_key: '834988564856631'})
    </script>
    <script src="js/bootbox.min.js" type="text/javascript"></script>

    <script>
        /**************************************** GAME LOGIC *******************************************/

        // Data Structure with game info.
        var jsonObject;
        // Represents the complexity of french level.
        var frenchLevel;
        // Number of picture combinations per level.
        var rounds;
        // Number of inputs (textboxes) showed per round (= word length).
        var spaces;
    	// Integer variables for managing the game inputs (= word length + 1)
        var options;
        // String for the correct word.
        var anwser;   
        // Help message/clue/letter.
        var hint;  
        // Array with pictures URL's (for Handlebarjs inyection)
        var dataTemplate;
        // Stores the compiled HTML code (for Handlebarjs inyection)
        var template;
        // Amount of coins earned (score)
        var coins;

        //Loads data from JSON.       
        function loadPage(jsonData){
            //Makes GET function
            $.ajax({
                // HTTP method
                type: 'GET',
                // Server url
                url: 'json.php',
                // Extra data to send
                data: {},
                // Data type
                dataType: 'json',
                // On success
                success: function(jsonData) {                       
                    $(document).ready(function(){
                        connectionReady(jsonData);
                    })
                },                                          
                // On error
                error: function() { 
                    alert('ERROR');
                }
            });   
        }

        // Extracts json data into a Data Structure.
        function connectionReady(jsonData){
            jsonObject = jsonData; 
            showMenu();
        }
        
        function showMenu(){
            document.getElementById("gameMenu").hidden = false;
            document.getElementById("gameBody").hidden = true;
        }
    
        // Selects french level.
        function selectLevel(selectedLevel){           
            frenchLevel = selectedLevel;      
            initializeGame();
        }

         // Sets everything ready for starting a game round.
        function initializeGame(){
            // Calls methods for a new game round.
            gameRound = 0;
            length = 12; //Number of letter buttons in keyboard
            coins = 0;

            setLevelParameters();
            renderGame();
            newGameRound();
        }

        // Loads all required data depending on french level and round played.
        function setLevelParameters(){
            // Loops the Data Structure for updating values in game level. 
            var level;

            switch(frenchLevel) {
                case '1':
                    level = jsonObject.beginner;
                    break;
                case '2':
                    level = jsonObject.intermediate;
                    break;
                case '3':
                    level = jsonObject.advanced;
                    break;
                default:;
            }

            answer = level[gameRound].answer;
            hint = level[gameRound].hint;
            spaces = answer.length;
            options = spaces + 1;
            rounds = 4;

            //Data structure for inyecting HTML code in handlebarjs labels.
            dataTemplate = {
                img1 : level[gameRound].img1,
                img2 : level[gameRound].img2,
                img3 : level[gameRound].img3,
                img4 : level[gameRound].img4
            }  
        }

        //Finishes to generate the HTML code and fills empty labels with Handlebarjs 
        function renderGame(){
            //Extract the text from the template .html() is the jquery helper method for that
            var source = $("#picturesPanel").html();

            // Compile that into an handlebars template
            template = Handlebars.compile(source);

            // Generate the HTML for the template
            var htmlCode = template(dataTemplate);

            // Generate the HTML for the template and render the posts into the page
            $('#render1').append(htmlCode);
            $('#render2').append(writeInputs()); 
        }

        //Starts the correspondant game level.
        function newGameRound(){
            document.getElementById("gameMenu").hidden = true;
            document.getElementById("gameBody").hidden = false;
            document.getElementById("coinsScore").innerHTML = ""+coins;
            
            currentIndex = 0;
            setLevelParameters();
            injectNewContent();
            fillLetterButtons();
        }

        //Updates the values for Handlebarjs labels.
        function injectNewContent(){
            $('#render1').html(template(dataTemplate));
            $('#render2').html(writeInputs());
        }  

        //Generates the HTML code for inputs (textboxes).
        function writeInputs(){
            // Number of textboxes depends on word length (spaces variable)
            var rows = "";

            for(var i=1; i<= spaces; i++){
                rows += "<td align='center'><input class='form-control input-md' type='text' id='"+i+"' style='width:38px;' onclick='updateIndex("+i+")'/></td>";
            }
            return rows;
        }  

        //Realigns the letters in the keyboard (always making sure that the correct letters remain there).
        function fillLetterButtons(){ 
            // Scrambles a colelction of letters. 
            var letters = randomLetters(answer, length);            
            var lettersDir = "<img src='http://res.cloudinary.com/azurmedia/image/upload/c_scale,h_70,w_50/v1436278469/";

            // Inyects the HTML code for the letter buttons.
            for (var i = (length-1); i < (length*2 - 1); i++){    
                var currentLetter = letters[i-(length-1)];
                // Letters are different depending on french level
                var finalContent = (frenchLevel !== '3') ? (lettersDir.concat(currentLetter)).concat(".png'/>") : "<h2>"+currentLetter+"</h2>";
                document.getElementById(i).innerHTML = finalContent;
                document.getElementById(i).value = currentLetter;
            }                
        }

        // Shuffles a collection of letters.
        function shuffle(o){
            for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
        }
        // From: http://dzone.com/snippets/array-shuffle-javascript

        //Generates random collection of letters including a specific word
        function randomLetters(word, expected_number_letters){
            // Collection of allowed letters
            var alphabet = "ABCDEFGHIKLMNOPQRSTUVWXYZ";

            // Letters already used
            var randomized_letters = new Array();
            // The N randomized letters
            var randomResult = new Array();

                // Remove the letters from the alphabet
                for(var i=0;i<word.length;i++){
                    alphabet = alphabet.replace(word[i],'');    
                }

            // Transform the string into an array
            var alphabetArray =  alphabet.split("");

            // Compute the maximum for random number, avoid non-existing index
            var maximum = alphabetArray.length - word.length;

            // For the number of expected randomized letter
            for(var i=0;i<expected_number_letters - word.length;i++){
                do{
                    // Generate a random number between 0 and the maximum
                    var randomIndex = Math.floor((Math.random() * maximum));
                    // Check if the letter was already took as random letter
                    var already_exist = randomized_letters.indexOf( alphabetArray[randomIndex] );
                }
                while( already_exist !== -1 )
                    // Add the current letter as taken letter
                    randomized_letters.push(alphabetArray[randomIndex]);
                    // Add the letter to the result array
                    randomResult.push(alphabetArray[randomIndex]);
                }

            // Return a shuffled version of the concatenation of randomly generated letters+ word to find
            return shuffle(randomResult.concat(word.split('')));
        }

        // Updates the current index if text-box is manually selected.
        function updateIndex(id){
            currentIndex = (id % options) - 1;
        }

        //Writes a letter inside a selected textbox.
        function writeLetter(id){
            letter = document.getElementById(id).value;
            currentIndex = (currentIndex+1) % options;
            
            // Inserts letter in correspondant textbox.
            document.getElementById(currentIndex % options).select();
            document.getElementById(currentIndex % options).value = letter;  

            if(gameIsFinished())
                evalGame();
        }   

        function gameIsFinished(){
            // Checks if all text-boxes had been used
            var used = 0;
            for (var i=1; i<options;i++){
                if(document.getElementById(i).value != '')
                    used += 1;
            } 
  
            return (used < answer.length) ? false : true;            
        }
        
        //Determines if the final string is correct.
        function evalGame(){        
            // Obtains final string
            var result="";
            for (var i = 1; i<options; i++){         
                var character = document.getElementById(i).value;
                result += character;
            }

            if(result===answer){
                // String was correct.
                bootbox.alert("Très bien!\nLe mot: "+answer+" est correct.\nVous gagnez 50 pièces!");
                coins += 50;

                // If last round was played.
                if (gameRound > (rounds-2) ){
                    bootbox.alert("Félicitations! Vous avez gagné!!!");
                    // Some action for finishing the game
                    location.replace("http://www.bonjourdumonde.com/");     
                }
                gameRound++;
                previousLevel = gameRound-1;
            }
            else{
                // String was not correct.
                bootbox.alert("Joue à nouveau!");  
            }
          // Calls a correspondant new round for the game.
          cleanGame();
          newGameRound();  
        }

        //Sets ready the keyboard for next round.
        function cleanGame(){
            // Gets a button empty
            for(var i = 1; i<options;i++)
                deleteLetter();
        }

        //Erases the last inserted letter in the correspondent textbox.
        function deleteLetter(){
            if (currentIndex > 0){
                document.getElementById(currentIndex % options).select();
                document.getElementById(currentIndex).value = '';
                currentIndex--;
            }
        }

        /**************************************** HINTS SYSTEMS *******************************************/

        //Displays help message/clue/letter/whatever.
        function showHint(){
            // You can only use the hints if you have at least 50 coins
            (coins >= 50) ? hintAction() : bootbox.alert('Vous n´avez pas assez de pièces pour utiliser un indice.');
        } 

        // Depending on the level, it throws a hint action.
        function hintAction(){
            // You loose 50 coins every time you use a hint
            coins -= 50;

            switch(frenchLevel) {
                case '1':
                    // You give a letter of the word
                    var letter = answer.charAt(currentIndex);
                    currentIndex++;
                    bootbox.alert("Vous obtenez la lettre "+ currentIndex+" : "+ letter);
                    document.getElementById(currentIndex % options).value = letter;  

                    if(gameIsFinished()) evalGame();
                    break;
                case '2':
                    bootbox.alert(hint);
                    break;
                case '3':
                    bootbox.alert(hint);
                    break;
                default:;
            }
            document.getElementById("coinsScore").innerHTML = ""+coins;
        }

        // Explains the coins system.
        function coinsWindow(){
            bootbox.alert("Vous gagnez 50 pièces à chaque fois que vous devinez correctement un mot. Chaque fois que vous utilisez un indice, vous perdez 50 pièces."); 
        }
    </script>
    </body>
</html>

